body{
    display: flex;
    justify-content: center;
    background-color: black;
}
.outer{
    width: 600px;
    height: 600px;
    background-image: url(https://cdn.pixabay.com/photo/2014/04/04/14/55/clocks-313320_640.jpg);
    background-size: cover;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cricle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 5px;
    margin-left: 15px;
    background-color: black;
}

.hand-hour{
    width: 15px;
    height: 150px;
    border-radius: 10px;
    background-color: black;
    position: absolute;
    bottom: 0px;
}
.hand-minute{
    width: 10px;
    height: 180px;
    border-radius: 10px;
    background-color: black;
    bottom: 0px;
    position: absolute;
}
.hand-second{
    width: 8px;
    height: 200px;
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    background-color: black;
}
.second{
     animation: rotate 60s infinite steps(60); 
    position: absolute;
}
.minute{
     animation: rotate 3600s infinite steps(60); 
    position: absolute;
}
.hour{
     animation: rotate 43200s infinite linear; 
    position: absolute;
}

@keyframes rotate {
    100% {transform: rotatez(360deg);}
}
